/*@import 'nib'

html 
  box-sizing border-box

 
*, *:before, *:after {
  box-sizing: inherit;
}
 

* {
  font-family: 'Helvetica Neue';
}
body 
  font-family sans-serif
  font-size 16px
  background #333

 
.container {
  max-width: 900px;
  margin: 0 auto;
  min-height: 100%;
  background: white;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
 
header {
  position: relative;
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
}
 
h1 {
  font-size: 2em;
  margin: 10px;
  display: inline-block;
  margin-right: 1em;
}
 
.new-resolution input[type="text"] {
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 50%;
  font-size: 1em;
  border-bottom: 1px solid rgba(0,0,0,0.3);
  text-align: center;
}

.new-resolution input[type="submit"] {
  font-weight: bold;
  background: #3498db
  color: #FFF;
  font-size: 1em;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  margin-top: 20px;
}

.comment{
text-align: center;
font-family: 'Roboto', sans-serif;
margin-top: 15px;
}

.login-buttons {
  float: right;
  text-transform: capitalize;
  margin: 20px;
}

 
.new-resolution input:focus{
  outline: 0;
}

.new-resolution{
  text-align: center;
}
 
ul {
  margin: 0;
  padding: 0;
  background: white;
}
 
.delete {
  font-weight: bold;
  background: #DE4F4F;
  color: #FFF;
  font-size: 1em;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
}
 
li {
  position: relative;
  list-style: none;
  padding: 20px 15px;
  border-bottom: #eee solid 1px;
}
 
li .text {
  margin-left: 10px;
}
 
li.checked {
  color: #888;
}
 
li.checked .text {
  text-decoration: line-through;
}

.bookmark-image {
  width: 50%;
  height: 50%;
}

.bookmark-container {
  margin: 0 auto;
}

.bookmark {
  margin: 0 auto;
}

.submit {
  font-weight: bold;
  background: #DE4F4F;
  color: #FFF;
  font-size: 1em;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
}

iframe.embedly-card:hover{
  margin:0 !important;
}

.hide-finished {
  float: right;
}

.boomark-seen {
  float: right;
  text-align: right;
}




*/

header {
  background-color: #4e555d;
  color: white;
  margin: 0;
  width: 100%;
  font-family: 'Roboto';
  display: inline-block;
  margin-bottom: 10px;
}

h1 {
  display: inline-block;
}

body, html {
margin:0;
padding:0;
background-color: #E0E0E0;
}

.hide-finished {
  float: right;
  display: inline-block;
}

.new-resolution input[type="text"] {
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 50%;
  font-size: 1em;
  border-bottom: 1px solid rgba(0,0,0,0.3);
  text-align: center;
}

.new-resolution input[type="submit"] {
  font-weight: bold;
  background: #3498db;
  color: #FFF;
  font-size: 1em;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  margin-top: 20px;
}

.new-resolution {
  padding-bottom: 10px;
}

.top-content {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  background-color: white;
  border-radius: 5px;
}

.login-buttons {
  float: right;
  text-transform: capitalize;
  margin: 20px;
}

.delete {
  font-weight: bold;
  background: #DE4F4F;
  color: #FFF;
  font-size: 1em;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  /*float: right;*/
}








