<template name="resolution">
  <li class="{{#if checked}}checked{{/if}}">
  {{#if isOwner}}
    <input type="checkbox" checked="{{checked}}" class="toggle-checked">
        <button class="toggle-private">
          {{#if private}}
            Private
          {{else}}  
            Public
          {{/if}}
        </button>
          {{/if}}
    <div class="bookmark">        
      <!-- <span class="text">{{escapeUrl.title}}</span><br> -->
      <!-- <span class="text"><a href="{{url}}" target="_blank">{{url}}</a></span> -->
      <span class="text"><a href="{{escapeUrl.url}}" target="_blank">{{escapeUrl.title}}</a></span><br>
      <span class="text">{{escapeUrl.description}}</span>
      <span class="text"><img src="{{escapeUrl.images.[1].url}}"/></span>
    </div>   
      {{#if isOwner}}
        <button class="delete">Remove</button>
      {{/if}}
  </li>
</template>
