<template name="resolution">
  <li class="{{#if checked}}checked{{/if}}">
  {{#if isOwner}}
    <input type="checkbox" checked="{{checked}}" class="toggle-checked">
        <button class="toggle-private">
          {{#if private}}
            Private
          {{else}}  
            Public
          {{/if}}
        </button>
          {{/if}}
    <div class="bookmark">
    <blockquote class="embedly-card" data-card-key="a8c07c5c43cc4e8dbb6b3634c8c474f8"><h4><a href="{{escapeUrl.url}}">{{escapeUrl.title}}</a></h4><p>{{escapeUrl.description}}</p></blockquote>
   <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
   <div class="comment">
      <div>{{firstComment}}</div>
      <div>by: {{username}}</div>
   </div>
<!--     <form class="new-comment">
      <input type="text" name="comment" placeholder="Comments" required><br>
      <input type="submit" value="Submit">
    </form> -->
      <div class="remove-button">
        {{#if isOwner}}
          <button class="delete">Remove</button>
        {{/if}}
      </div>
    </div>
  </li>
</template>


